*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

/* <-------Navigation Bar------> */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  
}
.navlogo{
    margin-left: 90px;
}
.navlogo img{
    cursor: pointer;
}
.navOptions a{ 
    text-decoration: none;
    color: #5F88A3;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 16px 0px;
    padding: 0px 0px 0px 40px;
}

.navDownloadApp{
    margin-right: 50px;
}
.navDownloadApp a{
    text-decoration: none;
    color: aliceblue;
    background-color: #F3223B;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 16px 0px;
    padding: 15px 33px;
    border-radius: 5px;
}

/* <!-- Heeder Part --> */

.Mainheader{
    width: 100%;
    background-image: url("https://www.dominos.co.in/assets/header_bg.png");
    background-size: 100% 100%;
    min-height: fit-content;
   /* background-position: center; */
   background-repeat: no-repeat;
   /* background-size: cover; */
   border: 1px solid red;
}
.headerElements{
    padding-left: 40px;
}

.headerElements h1{
     color: aliceblue;
     font-size: 36px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerElements p{
    color: #47A0FF;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
}
.headerElements a{
    text-decoration: none;
    color: aliceblue;
    background-color: #1FB31A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 20px 110px;
}
.headerElements img{
    width: 402px;
    height: 120px;
}
.brandbanner{
    margin-top: 30px;
}
