body{margin: 0px;}
.sk_nav{
  width: 100%;
}

.sk_nav{
  background-color: #0b639c;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sk_nav a{
  color: white;
  padding: 2px;
  font-weight:600;
  text-decoration: none;
  line-height: 20px;
  letter-spacing:-0.5px;
}

.nav_top_menu{
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 16px;
  padding-bottom: 10px;
}

.bottom_menu{
   width: 80%;
   margin: auto;
   font-size: 13px;
   text-align: center;
   align-items: center;
   color: white;
   padding-bottom: 10px;
}

.nav_btn{
   display: flex;
}
.nav_btn button{
  background-color: red;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
} 

.great_taste>img{
  width: 100%;
}

details{margin-left: 5px;
   width: 100%;
   border: solid black 1px;
  transition: div 2s;
  ;}

#pizza_name{
  text-align: center;
}

#pizza_display{
  width: 100%;
  display: grid;
  gap:20px;
  grid-template-columns: repeat(3,1fr);
}

#pizza_display img{
  width: 60%;
}

#pizza_display>div{
  text-align: center;
  border: solid black 1px;
  padding: 20px 20px 20px 20px;
}

