*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  
}
/* body{
    background-color:#f2f2f2;
} */
#container1{
    background-color:#f2f2f2;
    border: 1px solid red;
}
#main-container{
    /* border: 1px solid blue; */
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-around;
    margin-top: 50px;
    border: 1px solid blue;
}
.main1{
    /* border: 10px solid red; */
    width: 100%;
    margin-top: 20px;
    border: 4px solid green;

}

#m1{
    width: 65%;
    border: 10px solid black;

}
#m2{
width: 20%;
border: 10px solid yellow;

}
#m3{
    width: 5%;
/* border: 10px solid red; */
}

.main{
    display: grid;
     grid-template-columns:repeat(3,1fr);
     /* grid-auto-rows:80%; */
     gap: 15px;
    /* border: 1px solid red; */
    width: 100%;
    
    justify-content: space-around;
}
@media screen and (min-width:601px) and (max-width:800px){
    .main{
      grid-template-columns:repeat(2,1fr)
      }

  }

  @media screen and (max-width:600px){
    .main{
      grid-template-columns:repeat(1,1fr)
      }
  }   
 
.one{
    height: 350px;
    width: 90%;
    margin-left: 23px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.one img{
    width: 100%;
    height: 40%;
}

.sec-head{
    margin: 0 0 15px 0;
}
.addtocard{
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* margin: auto;  */
    /* border: 1px solid red; */
    margin-top: 12px;
      /* border: 1px solid green;    */
      position: absolute;
    
}

.btn{
    /* border: 1px solid #0daf17;
    padding: 10px 10px;
    background-color: #fff;
    color: #0daf17;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    position: absolute; */
    /* margin-top: 20px; */
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    DISPLAY: inline-block;
    left: 0;
    right: 0;
    background: #0066a7;
    padding: 10px;
    color: #fff;
    margin-top: 20px;
    border:0;
    
}
.addsubbut{
    border: 1px solid #989898;
    padding: 4px 14px;
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
p{
    margin-left: 10px;
}
h3{
    margin-left: 10px;
}
.def{
    margin-left: 10px;
}
#imgdiv{
    border: 1px solid green;
    width: 100%;
    margin: auto; 
     

}
#imgdiv > img{
    width: 100%;
    
}
#cartParent{
    height: 500px;
    /* border: 3px solid red; */
    /* position: sticky; */
    top: 10px;
    bottom: 300px;      
     overflow-y: scroll;      
    background-color:
    #ffffff#fff;
    margin-top: 50px;
}
#carddiv{
    /* margin-top: 50px; */
    border: 1px solid green;
    background-color:white; 
    /* position: sticky; */
}

#carddiv > img{
    justify-items: right;
}
#carddivimg{
    text-align: end;
    /* border: 1px solid red;  */
}
#carddivtext{
    color:  #718091; 
    text-align: center;
    /* border: 1px solid green;  */
    margin-top: 100px;
    margin-bottom: 100px;
}
#carddivchat >img {
  width: 100%;
  margin-top: 560px;
}
#carddivchat{
   height: 620px;
   /* border: 1px solid green; */
   /* position:fixed;
    left:95%;
     */
  }
  .one1{
    height: 300px;
    width:90%;
    /* margin-left: 23px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    border: 1px solid green;
    margin: 20px;


}
.simgdiv > img{
    width:100%;
} 
.jay1{
    display: flex;
    /* border: 1px solid green; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.jay2{
    display: flex;
    /* border: 1px solid yellow; */
}
.jay3{
    /* border: 1px solid red;  */
    text-align: center;
    
}
.btncheckout{
    /* border: 1px solid blue; */
    padding: 4px 10px;
    background-color: #fff;
    color: #722A1B;
    text-transform: uppercase;
    /* float: right; */
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
}


.simgdiv {
    width: 50%;
    /* border: 1px solid red; */

}
.dicsdiv{
    width: 80%;
    /* border: 1px solid red; */
}
.pricesdiv{
    display: flex;
    /* border: 1px solid red;  */
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;

    
}
.Quntitydiv{
    margin-right: 20px;
    /* border: 1px solid green;  */
    width: 60%;
    text-align: center;
    
}


  /* ------------------------------------------------------------ */
  .footer{
    width: 100%;
    height: 160px;
    background-color: #222E3A;
    color: #546273;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* text-align: center; */
  }
  .footerInsider{
    margin-left: 5%;
    margin-top: 30px;
  }
  .footerOptions{
    display: flex;
  }
  .footerOptions > p{
    margin-right: 30px;
    margin-top: 30px;
  }
  .downloadApp{
    margin-top: 30px;
    margin-right: 10%;
  }
  .downloadApp img{
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
  }
 .downloadApp > h2{
    text-align: center;
  }
  /* copyright */
  .copyRight{
    width: 100%;
    background-color: #1A2735;
}
.copyRight p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #5C6783;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
}
/* ------------------------------------------------------------------- */
/* navbar */
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav img{
    width: 250px;
    height: 50px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0066a7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  
  .sidenav a:hover {
    color: pink;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  .navSecondPart{
    display: flex;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
  }
  .navSecondPart div{
    margin-left: 50px;
  }
  
  .selectNav2{
      width: 220px;
      height: 33px;
      font-size: 14px;
      font-weight: 700;
      font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
      border-radius: 5px;
      margin-left: 30px;
      background-color: #F1F4F6;
      border: #F1F4F6;
      padding-left: 10px;
      border-radius: 5px; 
      cursor: pointer;
  }
  #sliding-login {
    position: absolute;
    top: 50px;
    right: 0;
    width: 0;
    height: 200px;
    background-color: white;
    overflow: hidden;
    transition: width 0.5s;
    display: block;
  }
  #sliding-menu.active {
    height: 200px;
  }
  #sliding-login.active {
    width: 300px;
  }

  /* #menu Options */

  .MainMenuOptions{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066a7;
    color: aliceblue;
  }
  .AllMenuOptions{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .AllMenuOptions div{
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
  }

  .AllMenuOptions a{
    text-decoration: none;
    color:aliceblue;
 }